@model IEnumerable<ProyectoAula3_MiguelHerazo_SamuelMeneses_JeronimoRivera.Models.IntegranteDeEquipo>

<h2>Lista de Integrantes de Equipo</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Codigo }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo })
            </td>
        </tr>
    }
</table>
